@page

@using OdeToFood.Core

@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>@ViewData["Title"]</h1>

<form method="get">
    <div>
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" 
                    value="" name="searchTerm"/>
                <span class="input-group-append">
                    <button class="btn btn-secondary">
                        <i>Search</i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<table class="table">
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>

<div>@Model.Message</div>